<h1> <%= @category.name %> </h1> 
<% if @posts.each do |post| %>
<h2><%= link_to post.title,post %></h2>
<p><%= post.body %></p>
<hr>
<% end.empty? %>
<p> Sorry there are no post</p>
<% end %> 
<td><%= link_to "Go back", categories_path %></td>